/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #00102E;
    height:99%;
    background-color:black;
    color:white;
    height:100%;
    overflow-x:hidden; overflow-y:hidden;
}

body {
    font-size: 1em;
    line-height: 1.4;
    height:97%;
    background-color:black;
    color:white;
    overflow-x:hidden; overflow-y:hidden;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


@font-face {
    font-family: cool_font;
    src: url('/css/DS-DIGI.TTF');
}

.timeline {
    position:absolute;
    bottom:0px;
    height:20%;
    overflow-x:hidden;
    overflow-y:hidden;
    width:100%;
    left:0%;
    z-index:101;
    opacity:70%;
}

#placeholder {
    position:absolute;
    bottom:20%;
    right:20px;
    z-index:100;
    width:25%;
    height:180px;
    background-color:black;
    color:white:
    font-size:8;
	opacity:0.45;
}

.flot-y-axis {
    color:white;
}

.flot-x-axis {
    color:white;
}

#wordcloud  {
    position:absolute;
    top:5%;
    right:25px;
    z-index:1011;
    width:90%;
    height:75%;
    color:white;
    font-size:8;
    overflow-x:hidden; overflow-y:hidden;
    opacity:50%;
}

#time {
    position:absolute;
    top:0px;
    right:0px;
    z-index:1000001;
    width:130px;
    height:10px;
	text-align: right;
	font-family: 'Tahoma';
    font-size:18px;
    color:#3399FF;
    margin-top:-10px;
}

#nav{
    position:absolute;
    top:100px;
    right:0px;
    z-index:100000;
    width:27%;
    height:10px;
    font-family:Arial;
    font-size:11px;
	text-align: right;
	font-family: Tahoma;
    color:#3399FF;
    margin-bottom:20px;
    display:none; 
}

#playButton {
	position:absolute;
    top:0px;
    right:140px;
    z-index:1000011;
    width:50px;
    height:24px;
    font-size:11px;
	text-align: center;
	margin-top:8px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699FF), color-stop(1, #00102E) );
	background:-moz-linear-gradient( center top, #6699FF 5%, #00102E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#00102E');
	background-color:#0066FF;
	border:1px solid #00102E;
	display:inline-block;
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	width:50px;
	text-decoration:none;
}

#reorderButton {
	position:absolute;
    top:0px;
    right:200px;
    z-index:1000011;
    width:130px;
    height:24px;
    font-family:Tahoma;
    font-size:11px;
	text-align: center;
	margin-top:8px;
    background-color:#0066FF;
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699FF), color-stop(1, #00102E) );
	background:-moz-linear-gradient( center top, #6699FF 5%, #00102E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#00102E');
	background-color:#0066FF;
	border:1px solid #00102E;
	display:inline-block;
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	width:130px;
	text-decoration:none;    
}

#helpButton {
	position:absolute;
    top:0px;
    left:10px;
    z-index:1000011;
    height:24px;
    font-family:Tahoma;
    font-size:11px;
	text-align: center;
	margin-top:8px;
    background-color:#0066FF;
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699FF), color-stop(1, #00102E) );
	background:-moz-linear-gradient( center top, #6699FF 5%, #00102E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#00102E');
	background-color:#0066FF;
	border:1px solid #00102E;
	display:inline-block;
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	width:80px;
	text-decoration:none;    
}

#globeButton {
	position:absolute;
    top:0px;
    left:100px;
    z-index:1000011;
    height:24px;
    font-family:Tahoma;
    font-size:11px;
	text-align: center;
	margin-top:8px;
    background-color:#0066FF;
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699FF), color-stop(1, #00102E) );
	background:-moz-linear-gradient( center top, #6699FF 5%, #00102E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#00102E');
	background-color:#0066FF;
	border:1px solid #00102E;
	display:inline-block;
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	width:120px;
	text-decoration:none;    
}

#closeHelpButton {
	position:relative;
    top:0px;
    left:0px;
    z-index:1000011;
    height:36px;
    font-family:Tahoma;
	text-align: center;
	margin-top:8px;
    background-color:#0066FF;
    
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6699FF), color-stop(1, #00102E) );
	background:-moz-linear-gradient( center top, #6699FF 5%, #00102E 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#00102E');
	background-color:#0066FF;
	border:1px solid #00102E;
	display:inline-block;
	color:#ffffff;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
	padding:2px 0px;
	width:100%;
	text-decoration:none;    
}

#publisher {
	position:absolute;
    top:0px;
    right:350px;
    z-index:1000011;
    width:230px;
    height:24px;
    font-family:Tahoma;
    font-size:11px;
	text-align: right;
	margin-top:8px;
    background-color:#00102E;
}

#quickjump {
	position:absolute;
    top:0px;
    right:550px;
    z-index:1000011;
    width:230px;
    height:24px;
    font-family:Tahoma;
    font-size:11px;
	text-align: right;
	margin-top:8px;
    background-color:#00102E;
}

#commandbar {
    position:absolute;
    top:0px;
    left:0px;
    z-index:100000;
    width:100%;
    height:36px;
    font-family:Arial;
    font-size:11px;
	text-align: right;
	font-family: Tahoma;
    background-color:#00102E;
	overflow-x:hidden; overflow-y:hidden;
}

#nav a:link {color:lightblue;}      /* unvisited link */
#nav a:visited {color:cornflowerblue;}  /* visited link */
#nav a:hover {color:#FFffFF;}  /* mouse over link */
#nav a:active {color:lightblue;}

.tickLabel { font-size: 80% }




#controls {
    width:200px;
    height:25px;
    position:absolute;
    top:1%;
    left:0.5%;
    z-index:10000;
    background-color:black;
}

#help {
    width:600px;
    height:520px;
    position:absolute;
    padding:5px;
    top:15%;
    left:30%;
    z-index:10000;
    background-color:#00001F;
    border-style:solid;
	border-width:2px;
	border-color:#6699FF;
}

#map {
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
    width:100%;
    height:90%;
    background-color:black;
    color:white;
    font-size:8;
    overflow-x:hidden; overflow-y:hidden;
    opacity:60%;
}

#canvasMap {
    position:absolute;
    top:0px;
    left:0px;
    z-index:100;
    width:100%;
    height:80%;
    color:white;
    font-size:8;
    overflow-x:hidden; overflow-y:hidden;
    opacity:0.4;
}



.dark-theme { color: #eee }
.dark-theme .timeline-band-0 .timeline-ether-bg { background-color: #333 }
.dark-theme .timeline-band-1 .timeline-ether-bg { background-color: #111 }
.dark-theme .timeline-band-2 .timeline-ether-bg { background-color: #222 }
.dark-theme .timeline-band-3 .timeline-ether-bg { background-color: #444 }

.dark-theme .t-highlight1 { background-color: #003; }
.dark-theme .p-highlight1 { background-color: #300; }

.dark-theme .timeline-highlight-label-start .label_t-highlight1 { color: #f00; }
.dark-theme .timeline-highlight-label-end .label_t-highlight1 { color: #115; }

.dark-theme .timeline-band-events .important { color: #c00; }
.dark-theme .timeline-band-events .small-important { background: #c00; }

.dark-theme .timeline-date-label-em { color: #fff; }
.dark-theme .timeline-ether-lines { border-color: #555; border-style: solid; }
.dark-theme .timeline-ether-highlight { background: lightblue; }

.dark-theme .timeline-event-tape,
.dark-theme .timeline-small-event-tape { background: #f60; }
.dark-theme .timeline-ether-weekends { background: #111; }


select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-color: #00102E;
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid lightblue;
  color: #lightblue;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;}