.timeline-default {
    font-size:8pt;
}
.timeline-date-label {
    font-size:10pt; 
}

.timeline-event-label {
    font-size:9pt;
    margin-left:5px;
    margin-top:2px;
}

.timeline-event-bubble-title {
    font-size:12px;
    background-color: black;
    color:white;
}

.timeline-event-bubble-body {
    font-size:12px;
    background-color: black;
    color:lightblue;
    z-index:1000000;
}

.timeline-event-bubble-body a:link{
    font-size:15px;
    font-decoration:bold;
    color: white;
    z-index:10000000;
}

.timeline-event-bubble-time {
    font-size:12px;
    background-color: black;
    color:white;
}

.timeline-event {
    font-size:12px;
    background-color: antiquewhite;      ;
}

timeline-event-bubble-title {

}

.small-dnevnik {background-color:orangered; }
.small-siol {background-color:#ffff00; }
.small-24ur {background-color:blue; }
.small-politikis {background-color:pink; }
.small-reporter {background-color:darkblue; }
.small-demokracija {background-color:lightseagreen; }
.small-zurnal24 {background-color:darkblue; }
.small-finance {background-color:darkred; }
.small-rtvslo {background-color:lightblue; }
.small-mladina {background-color:red; }
.small-drugisvet {background-color:red; }
.small-finance {background-color:red; }
.small-pozareport {background-color:red; }
.small-vecer {background-color:orange; }


.icon-dnevnik {
    content: url('img/dnevnik_favicon.ico');
    background-image:url('img/dnevnik_favicon.ico');
    width:14px;
    height:14px;
}


.icon-moscowtimes {
    display:block;
    content: url('img/plus.ico');
    background-image:url('img/plus.ico') ;
    width:14px;
    height:14px;
}

.icon-bloomberg {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-fox {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-xinhua {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-dailymail {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-chinadaily {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-reuters {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-washingtonpost {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-chinadaily {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-rt {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-presstv {
    content: url('img/img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;

}

.icon-bbc {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-businessinsider {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
}

.icon-guardian {
    content: url('img/plus.ico');
    background-image:url('img/plus.ico');
    width:14px;
    height:14px;
    border:0px;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0px rgba(255,255,255,1);
}